<% if (title){ %> <!-- Checking if the 'title' variable is defined -->
    <h1><%= title %></h1> <!-- Displaying the title if it exists -->
<% }else{
    res.redirect("/") <!-- Redirecting to the root URL if the 'title' variable is not defined -->
} %>


<%- messages() %> <!-- Displaying flash messages -->

<% if (errors) { %> <!-- Checking if the 'errors' variable is defined -->
    <ul class="notice"> <!-- Starting an unordered list for displaying errors -->
<% errors.array().forEach(error => { %> <!-- Looping through each error in the 'errors' array -->
<li><%= error.msg %></li> <!-- Displaying each error message -->
<%  }) %> <!-- Ending the loop -->
</ul> <!-- Closing the unordered list -->
<% } %> <!-- Ending the conditional block for displaying errors -->

<h2>Welcome <%- locals.accountData.account_firstname %></h2>
<p><a href="/account/update">Edit Account Information</a></p>
<% if (locals.accountData.account_type === "Employee" ||locals.accountData.account_type === "Admin") {%>
    <h3>Inventory Management</h3>
    <p><a href="/inv">Manage Inventory</a></p>
<%} else if (locals.accountData.account_type === "Client") {%>
    <%- MyReviews %>
<% } %>

