<% if (title){ %>
<h1><%= title %></h1>
<% }else{
    res.redirect("/")
    }%>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
</ul>
<% } %>



<form action="/inv/update" method="post" id="vehicleForm">
    <%- selectList %>
    <label>Make<input type="text" name="inv_make" 
        <% if (locals.inv_make){ %> value="<%= locals.inv_make %>" 
        <% }%>>
    </label>
    
    <label>Model
        <input type="text" name="inv_model" 
        <% if (locals.inv_model){ %> value="<%= locals.inv_model %>" 
        <% }%>>
    </label>

    <label>Description
        <textarea type="text" name="inv_description"><% if (locals.inv_description){ %><%= locals.inv_description %>" 
            <% }%></textarea>
    </label>

    <label>Image Path
        <input type="text" name="inv_image" value="/images/vehicles/no-image.png" 
        <% if (locals.inv_image){ %> value="<%= locals.inv_image %>" 
        <% }%>>
    </label>

    <label>Thumbnail Path
        <input type="text" name="inv_thumbnail" value="/images/vehicles/no-image.png" 
        <% if (locals.inv_thumbnail){ %> value="<%= locals.inv_thumbnail %>" 
        <% }%>>
    </label>

    <label>Price
        <input type="decimal" pattern="^[0-9]*.?[0-9]+$" name="inv_price" placeholder="decimal or integer" 
        <% if (locals.inv_price){ %> value="<%= locals.inv_price %>" 
        <% }%>>
    </label>

    <label>Year
        <input type="number" pattern="^d{4}$" name="inv_year" placeholder="4-digit year" 
        <% if (locals.inv_year){ %> value="<%= locals.inv_year %>" 
        <% }%>>
    </label>

    <label>Miles
        <input type="number" pattern="^d+$" name="inv_miles" placeholder="digits only" 
        <% if (locals.inv_miles){ %> value="<%= locals.inv_miles %>" 
        <% }%>>
    </label>

    <label>Color
        <input type="text" name="inv_color" 
        <% if (locals.inv_color){ %> value="<%= locals.inv_color %>" 
        <% }%>>
    </label>

    <input type="hidden" name="inv_id"
    <% if (locals.inv_id){ %> value="<%= locals.inv_id %>" 
    <% }%>>

    <button type="submit">Update Vehicle</button>
</form>